@page "/about"

<PageTitle>About</PageTitle>

<div class="container">
    <div class="row">
        <div class="col text-center mt-4">
            <h2 class="fs-1 text-uppercase text-dark mb-3">About Us</h2>
            <h4 class="fw-bold">Our Journey Through Time</h4>
            <img src="images/banner.png" class="img-fluid d-block my-4" alt="Our Story">
            <h6 class="text-muted">Discover the stories behind each timeless piece. Our dedication to preserving history is only matched by our commitment to our customers.</h6>
        </div>
    </div>
</div>

<div class="container my-5">
    <div class="timeline">
        <div class="line"></div>

        <!-- Inception of Mr C's Vintage Vehicles -->
        <div class="row m-0">
            <div class="col-sm-6">
                <div class="row">
                    <div class="col">
                        <div class="card sig-border">
                            <div class="card-body">
                                <h5 class="card-title">The Beginning - 1980</h5>
                                <p class="card-text">In 1982, Mr. C launched a car rental company with an extraordinary fleet of well-preserved older vehicles, which by the 1990s, evolved into a sought-after vintage car rental service, tapping into the era's growing nostalgia for classic autos. His passion for maintaining classic cars transformed an ordinary rental service into a sanctuary for vintage car enthusiasts.</p>
                                <p class="card-text"><small class="text-muted">Started in 1982</small></p>
                            </div>
                            <img src="images/about/0.png" class="card-img-bottom" alt="The Vintage Beginning">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- A Trusted Name -->
        <div class="row m-0">
            <div class="col-sm-6 offset-sm-6">
                <div class="row">
                    <div class="col">
                        <div class="card sig-border">
                            <div class="card-body">
                                <h5 class="card-title">Restoration Excellence - 1990</h5>
                                <p class="card-text">Beyond offering vintage car rentals, Mr. C's enterprise flourished as a bastion of restoration mastery. By 1990, it had not only a fleet of over 20 impeccably restored vintage cars available for hire but had also gained acclaim as a top-tier restoration and repair shop. Classic car enthusiasts and collectors frequently turned to Mr. C's expertise to breathe new life into their prized vehicles, assured by the unmatched craftsmanship and attention to detail.</p>
                                <p class="card-text"><small class="text-muted">Trusted Restoration & Rental Since 1990</small></p>
                            </div>
                            <img src="images/about/1.png" class="card-img-bottom" alt="Restoration Excellence">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Milestone Event -->
        <div class="row m-0">
            <div class="col-sm-6">
                <div class="row">
                    <div class="col">
                        <div class="card sig-border">
                            <div class="card-body">
                                <h5 class="card-title">Centennial Milestone - 2000</h5>
                                <p class="card-text">The turn of the millennium was marked by a landmark achievement for Mr. C's as we celebrated the 1000th rental of our vintage collection. This pivotal moment was more than just a number—it was a reflection of decades of commitment to preserving automotive history, providing unparalleled service, and curating an experience that resonates with the nostalgia and elegance of bygone eras. As enthusiasts and patrons shared in the joy of this centennial milestone, Mr. C's solidified its reputation as not just a service, but a gateway to reliving the golden days of motoring.</p>
                                <p class="card-text"><small class="text-muted">Commemorating a Thousand Journeys - Year 2000</small></p>
                            </div>
                            <img src="images/about/2.png" class="card-img-bottom" alt="Centennial Milestone Celebration">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Renovation and Innovation -->
        <div class="row m-0">
            <div class="col-sm-6 offset-sm-6">
                <div class="row">
                    <div class="col">
                        <div class="card sig-border">
                            <div class="card-body">
                                <h5 class="card-title">Renaissance of the Classics - 2010</h5>
                                <p class="card-text">The year 2010 heralded a new era for Mr. C's, unveiling a state-of-the-art facility that married the elegance of classic automobiles with the sophistication of modern amenities. The new showroom and garage, an architectural gem, were designed to provide an immersive experience that captivates the senses and pays homage to the art of vintage automotive excellence. This renovation was a bold step into the future, ensuring that the legacy and allure of classic cars continue to thrive in a contemporary setting.</p>
                                <p class="card-text"><small class="text-muted">Revolutionary Showroom & Garage Unveiled in 2010</small></p>
                            </div>
                            <img src="images/about/3.png" class="card-img-bottom" alt="Renaissance of the Classics">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Current Success -->
        <div class="row m-0">
            <div class="col-sm-6">
                <div class="row">
                    <div class="col">
                        <div class="card sig-border">
                            <div class="card-body">
                                <h5 class="card-title">Continuing the Legacy - 2020</h5>
                                <p class="card-text">In the present day, Mr. C's Vintage Vehicle Rental stands as a paragon of success in the world of classic automobilia, delighting enthusiasts and novices alike with a stunning repertoire of over 200 vintage vehicles. Each car, a masterpiece of engineering and history, is meticulously maintained to offer an authentic experience that transcends time. Mr. C's is not just about renting cars; it's about curating memorable moments and offering a voyage into the rich tapestry of automotive heritage.</p>
                                <p class="card-text"><small class="text-muted">Exemplary Vintage Collection - Celebrating Today's Success</small></p>
                            </div>
                            <img src="images/about/4.png" class="card-img-bottom" alt="Continuing the Legacy">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="container-fluid p-5">
    <div class="row mb-5">
        <h3 class="text-center mb-0"><img src="images/logo-white.png" class="w-25" /></h3>
        <h2 class="text-center text-muted fst-italic fw-light">A Collection of Classics</h2>
    </div>
</div>
