@page "/"

<PageTitle>Home</PageTitle>

<div class="card text-white rounded-0 border-0">
    <div class="card-body p-0">
        <img src="images/home.png" class="img-fluid rounded-0 w-100" alt="Two vintage cars in a field of grass" />
        <div class="card-img-overlay d-flex flex-column justify-content-end" style="background-color: rgba(0, 0, 0, 0.0);">
            <h1 class="card-title fw-bold ps-1">Mr C's Classic Cars Collection</h1>
            <h5 class="card-text p-2 pt-0">Embrace the Legacy – Your Destination for Renting Timeless Vintage Vehicles</h5>
        </div>
    </div>
</div>

<div class="container-fluid p-4">
    <div class="row">

        <!-- Fleet -->
        <div class="col-xl pb-4">
            <div class="card text-white sig-border">
                <img src="images/fleet.png" class="card-img" alt="Vintage Car Fleet">
                <div class="card-img-overlay d-flex flex-column justify-content-end" style="background-color: rgba(0, 0, 0, 0.6)">
                    <div class="mt-auto px-3 overflow-auto scrollbar">
                        <h2 class="card-title fs-4 text-uppercase fw-bold">Rental Fleet</h2>
                        <p class="card-text">Explore our collection of timeless classics.</p>
                    </div>
                    <div class="card-footer p-3 pb-0 border-0">
                        <NavLink class="btn btn-sm btn-light w-100" href="fleet">
                            Explore
                        </NavLink>
                    </div>
                </div>
            </div>
        </div>

        <!-- Reviews -->
        <div class="col-xl pb-4">
            <div class="card text-white sig-border">
                <img src="images/testimonials.png" class="card-img" alt="Testimonials">
                <div class="card-img-overlay d-flex flex-column justify-content-end" style="background-color: rgba(0, 0, 0, 0.6)">
                    <div class="mt-auto px-3 overflow-auto scrollbar text-outline">
                        <h2 class="card-title fs-4 text-uppercase fw-bold">REVIEWS</h2>
                        <p class="card-text">See what our valued customers have to say.</p>
                    </div>
                    <div class="card-footer p-3 pb-0 border-0">
                        <NavLink class="btn btn-sm btn-light w-100" href="testimonials">
                            Explore
                        </NavLink>
                    </div>
                </div>
            </div>
        </div>

        <!-- Contact -->
        <div class="col-xl pb-4">
            <div class="card text-white sig-border">
                <img src="images/contact.png" class="card-img" alt="Old Telephone">
                <div class="card-img-overlay d-flex flex-column justify-content-end" style="background-color: rgba(0, 0, 0, 0.6)">
                    <div class="mt-auto px-3 overflow-auto scrollbar">
                        <h2 class="card-title fs-4 text-uppercase fw-bold">Contact</h2>
                        <p class="card-text">Need assistance? We are here to help.</p>
                    </div>
                    <div class="card-footer p-3 pb-0 border-0">
                        <NavLink class="btn btn-sm btn-light w-100" href="contact">
                            Explore
                        </NavLink>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid p-5">
    <div class="row mb-5">
        <h3 class="text-center mb-0"><img src="images/logo-white.png" class="w-25" /></h3>
        <h2 class="text-center text-muted fst-italic fw-light">A Collection of Classics</h2>
    </div>
</div>
