@page "/links"

<PageTitle>Links</PageTitle>

<div class="container-fluid p-0 d-flex flex-column justify-content-between">
    <div class="row">
        <div class="col text-center mt-4">
            <h2 class="fs-1 text-uppercase text-dark mb-3">Links</h2>
            <h4 class="fw-bold">This Page Is a Placeholder to Demonstrate Navigation Functionality</h4>
            <img src="images/banner.png" class="img-fluid d-block my-4" alt="Links">
            <h6 class="text-muted">Features like social media buttons, redirect here to show their operational state.</h6>
            <h6 class="text-muted">It is simply a visual representation to indicate a successful link or button press.</h6>
        </div>
    </div>
    <div class="row m-0">
        <div class="col p-0">
            <img src="images/under-construction.png" class="img-fluid w-100" />
        </div>
    </div>
</div>
