@page "/testimonials"

<PageTitle>Contact</PageTitle>


<div class="container">
    <div class="row">
        <div class="col text-center mt-4">
            <h2 class="fs-1 text-uppercase text-dark mb-3">Testimonials</h2>
            <h4 class="fw-bold">Real Stories, Real Satisfaction</h4>
            <img src="images/banner.png" class="img-fluid d-block my-4" alt="Emblem">
            <h6 class="text-muted">Hear the voices of our valued clients and understand why our service is cherished for its unmatched quality and memorable journeys.</h6>
        </div>
    </div>
</div>

<div class="container-fluid p-5">
    <div class="row">
        <div class="col">
            <div class="container py-5">
                <div class="text-center mb-5">
                    <h1>Customer values</h1>
                    <small>
                        <span class="fw-bold">62 reviews. </span>Total rating: 
                        <i class="bi-star-fill text-warning"></i>  4.92/5
                    </small>
                </div>
               
                <div class="row row-cols-1 row-cols-lg-3 g-4">

                    <!-- Testimonial 1 -->
                    <div class="col">
                        <div class="card h-100 shadow sig-border">
                            <div class="card-body ">
                                <div class="d-flex justify-content-between align-items-center mb-2">
                                    <h5 class="card-title mb-0">John Doe</h5>
                                    <span class="badge sig-badge text-white">Vintage Enthusiast</span>
                                </div>
                                <p class="card-text">
                                    <i class="bi-quote"></i>
                                    Absolutely delighted with the classic car rental for our wedding! The vehicle was a real head-turner and added that special touch to our day.
                                    <i class="bi-quote"></i>
                                </p>
                            </div>
                            <div class="card-footer bg-transparent">
                                <small class="">
                                    <i class="bi-star-fill text-warning"></i> 5/5 stars
                                </small>
                            </div>
                        </div>
                    </div>

                    <!-- Testimonial 2 -->
                    <div class="col">
                        <div class="card h-100 shadow sig-border">
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center mb-2">
                                    <h5 class="card-title mb-0">Emily Smith</h5>
                                    <span class="badge sig-badge text-white">Retro Lover</span>
                                </div>
                                <p class="card-text">
                                    <i class="bi-quote"></i>
                                    I rented a classic '60s convertible for a photoshoot, and it was perfect. The car ran smoothly, and the rental service was exceptional.
                                    <i class="bi-quote"></i>
                                </p>
                            </div>
                            <div class="card-footer bg-transparent">
                                <small class="">
                                    <i class="bi-star-fill text-warning"></i> 4.8/5 stars
                                </small>
                            </div>
                        </div>
                    </div>

                    <!-- Testimonial 3 -->
                    <div class="col">
                        <div class="card h-100 shadow sig-border">
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center mb-2">
                                    <h5 class="card-title mb-0">Robert Brown</h5>
                                    <span class="badge sig-badge text-white">History Buff</span>
                                </div>
                                <p class="card-text">
                                    <i class="bi-quote"></i>
                                    As a lover of all things vintage, I was thrilled with the selection of cars. The service was personal and attentive - highly recommended.
                                    <i class="bi-quote"></i>
                                </p>
                            </div>
                            <div class="card-footer bg-transparent">
                                <small class="">
                                    <i class="bi-star-fill text-warning"></i> 5/5 stars
                                </small>
                            </div>
                        </div>
                    </div>

                    <!-- Testimonial 4 -->
                    <div class="col">
                        <div class="card h-100 shadow sig-border">
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center mb-2">
                                    <h5 class="card-title mb-0">Sarah Johnson</h5>
                                    <span class="badge sig-badge text-white">Car Aficionado</span>
                                </div>
                                <p class="card-text">
                                    <i class="bi-quote"></i>
                                    The vintage car collection is top-notch. I found the perfect Mustang for my road trip along the coast, and it was an unforgettable value.
                                    <i class="bi-quote"></i>
                                </p>
                            </div>
                            <div class="card-footer bg-transparent">
                                <small class="">
                                    <i class="bi-star-fill text-warning"></i> 4.9/5 stars
                                </small>
                            </div>
                        </div>
                    </div>
                    <!-- Testimonial 5 -->
                    <div class="col">
                        <div class="card h-100 shadow sig-border">
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center mb-2">
                                    <h5 class="card-title mb-0">Mark Evans</h5>
                                    <span class="badge sig-badge text-white">Classic Collector</span>
                                </div>
                                <p class="card-text">
                                    <i class="bi-quote"></i>
                                    Their service went above and beyond. I rented several vehicles for a classic car exhibition, and each one was a gem. Pure excellence!
                                    <i class="bi-quote"></i>
                                </p>
                            </div>
                            <div class="card-footer bg-transparent">
                                <small class="">
                                    <i class="bi-star-fill text-warning"></i> 5/5 stars
                                </small>
                            </div>
                        </div>
                    </div>

                    <!-- Testimonial 6 -->
                    <div class="col">
                        <div class="card h-100 shadow sig-border">
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center mb-2">
                                    <h5 class="card-title mb-0">Olivia Martinez</h5>
                                    <span class="badge sig-badge text-white">Event Planner</span>
                                </div>
                                <p class="card-text">
                                    <i class="bi-quote"></i>
                                    I’ve worked with them for multiple events, and every time, the vehicles are the highlight. Reliable, stylish, and truly vintage - they never disappoint.
                                    <i class="bi-quote"></i>
                                </p>
                            </div>
                            <div class="card-footer bg-transparent">
                                <small class="">
                                    <i class="bi-star-fill text-warning"></i> 5/5 stars
                                </small>
                            </div>
                        </div>
                    </div>

                    <!-- Testimonial 7 -->
                    <div class="col">
                        <div class="card h-100 shadow sig-border">
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center mb-2">
                                    <h5 class="card-title mb-0">Anna Rivera</h5>
                                    <span class="badge sig-badge text-white">Art Director</span>
                                </div>
                                <p class="card-text">
                                    <i class="bi-quote"></i>
                                    The antique car we hired for our gallery opening was spectacular! It perfectly complemented the art era we were featuring.
                                    <i class="bi-quote"></i>
                                </p>
                            </div>
                            <div class="card-footer bg-transparent">
                                <small class="">
                                    <i class="bi-star-fill text-warning"></i> 4.7/5 stars
                                </small>
                            </div>
                        </div>
                    </div>

                    <!-- Testimonial 8 -->
                    <div class="col">
                        <div class="card h-100 shadow sig-border">
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center mb-2">
                                    <h5 class="card-title mb-0">Lucas Graham</h5>
                                    <span class="badge sig-badge text-white">Entrepreneur</span>
                                </div>
                                <p class="card-text">
                                    <i class="bi-quote"></i>
                                    The professional demeanor and the pristine condition of the vintage cars are unmatched. They clearly care about their collection.
                                    <i class="bi-quote"></i>
                                </p>
                            </div>
                            <div class="card-footer bg-transparent">
                                <small class="">
                                    <i class="bi-star-fill text-warning"></i> 4.5/5 stars
                                </small>
                            </div>
                        </div>
                    </div>

                    <!-- Testimonial 9 -->
                    <div class="col">
                        <div class="card h-100 shadow sig-border">
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center mb-2">
                                    <h5 class="card-title mb-0">Sophie Lee</h5>
                                    <span class="badge sig-badge text-white">Blogger</span>
                                </div>
                                <p class="card-text">
                                    <i class="bi-quote"></i>
                                    Renting a vintage car for a weekend getaway was a breeze. It was a joy to drive and turned our trip into a luxury value.
                                    <i class="bi-quote"></i>
                                </p>
                            </div>
                            <div class="card-footer bg-transparent">
                                <small class="">
                                    <i class="bi-star-fill text-warning"></i> 5/5 stars
                                </small>
                            </div>
                        </div>
                    </div>

                </div>

                <!-- Pagination -->
                <nav aria-label="Testimonial navigation">
                    <ul class="pagination justify-content-center mt-4">
                        <li class="page-item disabled">
                            <a class="page-link" href="links" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item active bg-dark"><a class="page-link bg-dark border-dark" href="links">1</a></li>
                        <li class="page-item"><a class="page-link text-dark" href="links">2</a></li>
                        <li class="page-item"><a class="page-link text-dark" href="links">3</a></li>
                        <li class="page-item">
                            <a class="page-link text-dark" href="links" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>


            </div>
        </div>
    </div>
</div>
<div class="container-fluid p-5">
    <div class="row">
        <div class="col">
            <h2 class="fs-1 text-uppercase">Leave a Review</h2>
            <h4 class="pt-5">Rate Our Service</h4>
            <h6>We appreciate your feedback on our service quality.</h6>
        </div>
    </div>
</div>

<div class="container-fluid p-5">
    <div class="row">
        <div class="col">
            <form>
                <!-- Name -->
                <div class="mb-3">
                    <label for="fullName" class="form-label">Full Name:</label>
                    <input type="text" id="fullName" name="fullName" class="form-control" placeholder="Your name here">
                </div>
                <!-- Attributes -->
                <div class="mb-3">
                    <label for="attributes" class="form-label">About you:</label>
                    <input type="text" id="attributes" name="attributes" class="form-control" placeholder="Describe yourself in a few words (e.g., Vintage Enthusiast, Event Planner etc)">
                </div>
                <div class="container text-start p-0 m-0">
                    <!-- Service Rating with clickable stars -->
                    <div class="row mb-3">
                        <div class="col-2 col-xl-1 pe-4">
                            <label for="serviceRating" class="form-label">Service:</label>
                        </div>
                        <div class="col-10 col-xl-11">
                            <div id="serviceRating" class="star-rating">
                                <!-- Star Inputs and Labels for Service Rating -->
                                <input id="star5" name="serviceRating" type="radio" value="5" class="star-input" />
                                <label for="star5" class="star-label"><i class="bi bi-star-fill"></i></label>
                                <input id="star4" name="serviceRating" type="radio" value="4" class="star-input" />
                                <label for="star4" class="star-label"><i class="bi bi-star-fill"></i></label>
                                <input id="star3" name="serviceRating" type="radio" value="3" class="star-input" />
                                <label for="star3" class="star-label"><i class="bi bi-star-fill"></i></label>
                                <input id="star2" name="serviceRating" type="radio" value="2" class="star-input" />
                                <label for="star2" class="star-label"><i class="bi bi-star-fill"></i></label>
                                <input id="star1" name="serviceRating" type="radio" value="1" class="star-input" />
                                <label for="star1" class="star-label"><i class="bi bi-star-fill"></i></label>
                            </div>
                        </div>
                    </div>

                    <!-- Efficiency Rating with clickable stars -->
                    <div class="row mb-3">
                        <div class="col-2 col-xl-1 pe-4">
                            <label for="efficiencyRating" class="form-label">Efficiency:</label>
                        </div>
                        <div class="col-10 col-xl-11">
                            <div id="efficiencyRating" class="star-rating">
                                <!-- Star Inputs and Labels for Efficiency Rating -->
                                <input id="effStar5" name="efficiencyRating" type="radio" value="5" class="star-input" />
                                <label for="effStar5" class="star-label"><i class="bi bi-star-fill"></i></label>
                                <input id="effStar4" name="efficiencyRating" type="radio" value="4" class="star-input" />
                                <label for="effStar4" class="star-label"><i class="bi bi-star-fill"></i></label>
                                <input id="effStar3" name="efficiencyRating" type="radio" value="3" class="star-input" />
                                <label for="effStar3" class="star-label"><i class="bi bi-star-fill"></i></label>
                                <input id="effStar2" name="efficiencyRating" type="radio" value="2" class="star-input" />
                                <label for="effStar2" class="star-label"><i class="bi bi-star-fill"></i></label>
                                <input id="effStar1" name="efficiencyRating" type="radio" value="1" class="star-input" />
                                <label for="effStar1" class="star-label"><i class="bi bi-star-fill"></i></label>
                            </div>
                        </div>
                    </div>

                    <!-- Value Rating with clickable stars -->
                    <div class="row mb-3">
                        <div class="col-2 col-xl-1 pe-4">
                            <label for="valueRating" class="form-label">Value:</label>
                        </div>
                        <div class="col-10 col-xl-11">
                            <div id="valueRating" class="star-rating">
                                <!-- Star Inputs and Labels for Value Rating -->
                                <input id="expStar5" name="valueRating" type="radio" value="5" class="star-input" />
                                <label for="expStar5" class="star-label"><i class="bi bi-star-fill"></i></label>
                                <input id="expStar4" name="valueRating" type="radio" value="4" class="star-input" />
                                <label for="expStar4" class="star-label"><i class="bi bi-star-fill"></i></label>
                                <input id="expStar3" name="valueRating" type="radio" value="3" class="star-input" />
                                <label for="expStar3" class="star-label"><i class="bi bi-star-fill"></i></label>
                                <input id="expStar2" name="valueRating" type="radio" value="2" class="star-input" />
                                <label for="expStar2" class="star-label"><i class="bi bi-star-fill"></i></label>
                                <input id="expStar1" name="valueRating" type="radio" value="1" class="star-input" />
                                <label for="expStar1" class="star-label"><i class="bi bi-star-fill"></i></label>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Additional Comments -->
                <div class="mb-3">
                    <label for="additionalComments" class="form-label">Additional Comments:</label>
                    <textarea id="additionalComments" name="additionalComments" class="form-control" rows="4" placeholder="Elaborate on your experience..."></textarea>
                </div>
                <!-- Submit Button -->
                <button type="submit" class="btn btn-dark">Submit Review</button>
            </form>
        </div>
    </div>
</div>

<div class="container-fluid p-5">
    <div class="row mb-5">
        <h3 class="text-center mb-0"><img src="images/logo-white.png" class="w-25" /></h3>
        <h2 class="text-center text-muted fst-italic fw-light">A Collection of Classics</h2>
    </div>
</div>