.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    border-left: 1px solid #233448;
}

.sidebar {
    background-color: #fff;
}

.top-row, .bottom-row {
    display: flex;
    align-items: center;
    height: 4rem;
    background-color: #fff;
    border-bottom: 1px solid #233448;
}

.top-row {
    justify-content: flex-end;
}

.bottom-row {
    justify-content: space-between;
    height: 1rem;
    background-color: #233448;
    border-top: 1px solid #111;
    border-bottom: none;
}

.top-row ::deep a, .top-row ::deep .btn-link {
    white-space: nowrap;
    margin-left: 1.5rem;
    text-decoration: none;
}

    .top-row ::deep a:hover, .top-row ::deep .btn-link:hover {
        text-decoration: underline;
    }

    .top-row ::deep a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 767.99px) {
    .top-row:not(.auth) {
        display: none;
    }

    .top-row.auth {
        justify-content: space-between;
    }

    .top-row ::deep a, .top-row ::deep .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 768px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        min-width: 250px;
        max-width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row {
        top: 0;
        z-index: 1;
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }

        .top-row.auth ::deep a:first-child {
            flex: 1;
            text-align: right;
            width: 0;
        }

    article {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
