<div class="top-row navbar p-0">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button title="Navigation menu" class="bi-list btn navbar-toggler fs-1 border-0" @onclick="ToggleNavMenu">
                </button>
            </div>
        </div>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column d-flex flex-column justify-content-between h-100">

        <!-- Top Links -->
        <div>
            <div class="nav-item px-3">
                <NavLink class="nav-link bi-house-fill text-nowrap" href="" Match="NavLinkMatch.All">
                    <span class="px-3" aria-hidden="true"></span> Home
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link bi-car-front-fill text-nowrap" href="fleet">
                    <span class="px-3" aria-hidden="true"></span> Fleet
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link bi-award-fill text-nowrap" href="testimonials">
                    <span class="px-3" aria-hidden="true"></span> Testimonials
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link bi-info-circle-fill text-nowrap" href="about">
                    <span class="px-3" aria-hidden="true"></span> About
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link bi-telephone-fill text-nowrap" href="contact">
                    <span class="px-3" aria-hidden="true"></span> Contact
                </NavLink>
            </div>
        </div>

        <!-- Bottom Links -->
        <div class="card border-0 rounded-0 mb-2">
            <div class="card-body">
                <h6 class="card-title border-top border-bottom text-uppercase font-monospace sig-color text-center p-3">[Administration Only]</h6>
                <div class="nav-item">
                    <NavLink class="nav-link card-link bi-gear-fill text-nowrap" href="booking-system">
                        <span class="px-3" aria-hidden="true"></span> Booking System
                    </NavLink>
                </div>
                <div class="nav-item">
                    <NavLink class="nav-link card-link bi-link text-nowrap" href="links">
                        <span class="px-3" aria-hidden="true"></span> Management
                    </NavLink>
                </div>
            </div>
        </div>
           
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
